<h2>Exercise 7:</h2>
<p>In order to nest the other two components here into the parent component
    <br>we simply add their "selector" between < > just like any other HTML tag. </p>

<p>parent works!</p>
<hr>
    <app-first-child [data]="name"></app-first-child>
<hr>
    <app-second-child (consoleFunc)="consoleFunc()"></app-second-child>


<hr>
<h2>Exercise 10 and 11:</h2>
<p>Both of these functions can be found in the service created. "classes.service"</p>

<hr>
<h2>Exercise 12:</h2>
<p>I think injecting the service into the parent component and making the data available
    <br>to the child components might be a way.</p>

<hr>
<h2>Exercise 13 and 14:</h2>
<p>This sounds like a great thing to learn about at the Lab. :) </p>